Header{
    cursor: default;
    display: flex;
    bottom: 2%;
    left: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    justify-content: center;
    text-align: center;
    z-index: 1;
    width: auto;
}
.Header__article{
    display: flex;
    background: #FCFDFFA5;
    gap: 25px;
    -webkit-backdrop-filter: brightness(120%) contrast(100%) saturate(102%) blur(10px) hue-rotate(0deg);
    backdrop-filter: brightness(120%) contrast(100%) saturate(102%) blur(10px) hue-rotate(0deg);
    border-radius: 50px 50px 50px 50px;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    transition: all 0.5s ease-in-out;
}
.Header__article__link{
    font-family: Golos Text, sans-serif;
    cursor: pointer;
    margin:0 15px;
    color: #0000004F;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    line-height: 1em;
}
.Header__article__link__text{
    font-size: 13px;
    transition: 0.6s;
}
.Header__article__link__text:hover{
    transform: translateY(-3px);
    transition: 0.6s;
}
.donates{
    background: linear-gradient(154deg, #6d56b2, #1cb2d3);
    padding: 8px 14px 9px;
    border-radius: 50px 50px 50px 50px;
    color: #ffff;
    transition: 0.6s;
}
.donates:hover{
    color: rgb(192, 195, 195);
    transition: 0.6s;
}
.active{
    display: flex;
    transition: all 0.5s ease-in-out;
    flex-direction: row;
    height: auto;
}
.Header__article1{
    display: none;
    width: 100%;
    align-items: center;
    background: #fff;
    justify-content: center;
    color: #64607d;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
    padding: 0 9px 0 0;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px;
    height: 60px;
    justify-content: center;
}
.Header__article__button--open-menu{
    pointer-events: all;
    display: flex;
    border: none;
    background: none;
    font-size: 17px;
    gap: 8px;
    cursor: pointer;
    padding: 0 9px 0 0;
    align-items: center;
    text-align: center;
}
.span1{
    font-size: 30px;
    cursor: pointer;
}
.spanes{
    margin-top: -4px;
    font-size: 24px;
}
@media(max-width:768px){
    .Header__article{
        width: 100%;
        transform: translateY(50px);
        border-radius: 15px;
        gap: 6px;
        opacity: 0;
    }
    .active{
        transform: translateY(0px);
        opacity: 1;
        flex-direction: column;
        align-items: center;
        pointer-events: all;
    }
    .Header__article1{
        display: flex;
        pointer-events: all;
    }
    .Header{
        flex-direction: column;
        align-items: center;
        pointer-events: none;
        gap: 10px;
    }
    .Header__article__link {
        width: 97%;
        font-size: 14px;
    }
}